.different-varieties {
  .global__item-style {
    &--title {
      padding: 0;
    }
  }
}
.different-varieties__versus {
  .global__list {
    padding: 0 0 0 40px;
    &--item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  .global__item-style {
    padding: 40px 40px 30px 40px;
  }
}

//

.offline-blackjack {
  background: #212433;
  color: #b8cde1;
  .title-h2,
  .title-h3 {
    color: #fff;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    &--items {
      flex: 0 0 50%;
      text-align: left;
      background: #fff;
      .card-values__container {
        &--title {
          text-align: center;
        }
      }
    }
  }
  &__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 200px;
    &:nth-child(2n+1) {
      background: #f3f3f3;
    }
    .global__item-style {
      &--title {
        margin-bottom: 0;
      }
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0;
        }
      }
    }
  }
}

.expected__area {
  .expected__table {
    position: relative;
    border: 2px solid #373a46;
    padding: 140px 20px 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    &--bg {
      background: url('../images/table_02.png') no-repeat top center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 251px;
    }
    &--cards {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &--items {
        flex: 0 0 25%;
        flex-direction: column;
        display: flex;
        text-align: center;
        &:nth-child(2),
        &:nth-child(3) {
          z-index: 0;
        }
        .extra-bold {
          color: #f08e00;
        }
        &--card {
          flex: 1 0 auto;
          height: 90px;
        }
      }
    }
    &-info-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &--items {
        padding: 20px 40px 20px 50px;
        background: #373946;
        color: #b8cde1;
        position: relative;
        .fa-check {
          color: #0076b2;
          margin-right: 14px;
          position: absolute;
          left: 20px;
          top: 24px;
        }
      }
      &--items50 {
        flex: 0 0 49%;
        margin-bottom: 20px;
      }
      &--items33 {
        flex: 0 0 32%;
      }
    }
  }
}