.sorting__area {
  &--panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
  }
  &--title {
    text-transform: uppercase;
    font-weight: 700;
  }
  .soting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ecf0f1;
    margin: 0 -20px 20px;
    padding: 0 20px;
    @include media('>319px','<768px') {
      flex-direction: column;
      padding: 0;
      overflow: hidden;
    }
    .soting-by {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      position: relative;
      background: #f3f3f3;
      flex: 0 0 786px;
      flex-wrap: wrap;
      margin-left: -20px;
      @include media('>319px','<768px') {
        flex: 0 1 auto;
        margin-bottom: 50px;
        margin-left: -1px;
        width: 100%;
      }
      &:before {
        content: "";
        position: absolute;
        right: -26px;
        width: 0;
        height: 0;
        border-top: 46px solid transparent;
        border-left: 27px solid #f3f3f3;
        border-bottom: 46px solid transparent;
        @include media('>319px','<768px') {
          right: 0;
          bottom: -218px;
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          left: 0;
          margin: 0 auto;
          border-top: 206px solid transparent;
          border-left: 27px solid #f3f3f3;
          border-bottom: 206px solid transparent;
        }
      }
    }
    .soting__result {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-align: center;
      flex: 0 0 29%;
      &--score {
        font-size: 25px;
        font-weight: 700;
        color: #0076b2;
      }
      &--text {
        color: #222533;
        font-weight: 700;
      }
    }
  }
  .result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    @include media('>319px','<768px') {
      justify-content: center;
    }
    @include media('>319px','<768px', 'landscape') {
      justify-content: space-between;
    }
    &--item {
      flex: 0 0 235px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      @include media('>319px','<768px') {
        flex: 0 0 280px;
      }
    }
    &--info {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #ecf0f1;
      margin-top: 20px;
    }
    &--info-item {
      border-right: 2px solid #ecf0f1;
      flex: 1 0 auto;
      padding: 0 0 15px 0;
      color: #595f68;
    }
    &--info-title {
      font-size: 18px;
      font-weight: 700;
      color: #222533;
    }
  }
  .rating--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 0 0 15px 0;
    .fa-star {
      font-size: 20px;
      color: #f08e00;
      margin-bottom: 7px;
    }
  }
}

//  balackjack
.anatomy-blackjack {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  &--item {
    flex: 0 0 24%;
    display: flex;
    padding: 20px;
    border:1px solid #eef2f3;
    align-items: center;
    @include media('>319px','<769px') {
      flex: 0 0 100%;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .sprite {
      margin-right: 20px;
      flex: 0 0 auto;
    }
  }
}
.table-layout {
  background: #f3f3f3;
  margin: 0 -20px 0 -20px;
  padding: 40px 20px 40px 20px;
  position: relative;
  &__area-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media('>319px','<769px') {
      justify-content: center;
      width: 280px;
      margin: auto;
    }
    &--item {
      width: 235px;
      height: 175px;
      background: #fff;
      padding: 20px;
      border: 1px solid #eef2f3;
      position: relative;
      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @include media('>319px','<769px') {
          display: none;
        }
      }
      > p {
        margin-bottom: 0;
      }
      .center__bottom {
        &--line {
          &:after {
            margin: 15px 0 0 0;
          }
        }
      }
    }
    &--item-three {
      width: 320px;
      height: 200px;
    }
  }
  &__game-table-box {
    max-width: 489px;
  }
  &__game-table {
    background: url("../images/table_layout.jpg") no-repeat;
    background-size: 100%;
    width: 489px;
    min-height: 366px;
    margin-bottom: 20px;
    @include media('>319px','<769px') {
      background: url("../images/table_layout_mobile.jpg") no-repeat;
      min-height: 210px;
      width: 280px;
      background-size: contain;
    }
  }
  &__marker {
    position: absolute;
    img {
      height: initial;
      max-width: initial;
    }
    &--dealer {
      left: 233px;
      top: 71px;
    }
    &--shoe {
      left: -97px;
      top: 72px;
    }
    &--player-card {
      right: -36px;
      top: -186px;
    }
    &--action-button {
      left: 123px;
      top: -78px;
    }
    &--chips {
      left: -2px;
      top: -54px;
    }
  }
  &__mobile-slider {
    display: none;
    @include media('>319px','<769px') {
      display: block;
    }
    &--item {
      width: 224px;
      height: 270px;
      background: #fff;
      padding: 18px;
      display: none;
      margin-left: 10px;
      margin-right: 10px;
      @include media('>319px','<769px') {
        display: block;
      }
      .global__item-style {
        &--title {
          padding: 0;
        }
      }
      .center__bottom {
        &--line {
          &:after {
            margin: 20px  0 0 0;
          }
        }
      }
    }
  }
  &__mobile-marker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    @include media('>319px','<769px') {
      display: block;
      width: 280px;
      margin: auto;
    }
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .dealer-marker {
      width: 2px;
      height: 35%;
      background: #595f68;
      position: absolute;
      bottom: -59px;
      left: 108px;
      &:after {
        content: "";
        width: 2px;
        height: 163px;
        background: #595f68;
        display: block;
        transform: rotate(10.5deg);
        position: absolute;
        top: -160px;
        left: 14.4px;
      }
    }
    .shoe-marker {
      width: 2px;
      height: 34%;
      background: #595f68;
      position: absolute;
      bottom: -62px;
      left: 108px;
      &:after {
        content: "";
        width: 2px;
        height: 218px;
        background: #595f68;
        display: block;
        -ms-transform: rotate(37deg);
        transform: rotate(39deg);
        position: absolute;
        top: -192px;
        left: 68px;
      }
    }
    .player-marker {
      width: 2px;
      height: 34%;
      background: #595f68;
      position: absolute;
      bottom: -54px;
      left: 109px;
      &:after {
        content: "";
        width: 2px;
        height: 106px;
        background: #595f68;
        display: block;
        transform: rotate(-35deg);
        position: absolute;
        top: -94px;
        left: -30px;
      }
    }
    .action-marker {
      width: 2px;
      height: 34%;
      background: #595f68;
      position: absolute;
      bottom: -33px;
      left: 34px;
      &:after {
        content: "";
        width: 2px;
        height: 92px;
        background: #595f68;
        display: block;
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        position: absolute;
        top: -47px;
        left: 45px;
      }
    }
    .chips-marker {
      width: 2px;
      height: 34%;
      background: #595f68;
      position: absolute;
      bottom: -47px;
      left: 143px;
      &:after {
        content: "";
        width: 2px;
        height: 102px;
        background: #595f68;
        display: block;
        transform: rotate(90deg);
        position: absolute;
        top: -52px;
        left: 50px;
      }
    }
  }
  &__mobile {
    @include media('>319px','<769px') {
      width: 280px;
      margin: auto;
    }
  }
}
.two-side-text {
  background: #212433;
  margin: 0 -20px 0 -20px;
  padding: 20px;
  color: #b8cde1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &--item {
    flex: 0 0 50%;
    padding: 20px;
    @include media('>319px','<769px') {
      flex: 0 0 100%;
    }
    &:first-child {
      border-right: 2px solid #3f4656;
      @include media('>319px','<769px') {
        border: none;
      }
    }
  }
}

.card-values,
.ways-win {
  padding: 40px 0 0 0;
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--item {
      flex: 0 0 32%;
      border: 1px solid #f3f3f3;
      margin-bottom: 20px;
      @include media('>319px','<769px') {
        flex: 0 0 100%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    &--item-last {
      flex: 0 0 100%;
      margin-bottom: 0;
      @include media('>319px','<769px') {
        margin-top: 30px;
      }
    }
    &--title {
      background: #0076b2;
      color: #fff;
      font-weight: 900;
      padding: 13px 20px;
      text-transform: uppercase;
    }
    &--title-black {
      background: #212433;
    }
    &--content {
      padding: 20px 20px 30px 20px;
      display: flex;
      flex-direction: column;
      .global__item-style {
        &--title {
          @include media('>319px','<768px') {
            padding: 0;
          }
        }
      }
      .extra-bold {
        color: #0076b2;
      }
      > div {
        &:first-child {
          > img {
            margin-right: 10px;
            @include media('>319px','<768px') {
              width: 60px;
            }
          }
          display: flex;
          font-size: 36px;
          color: #0865a0;
          margin-bottom: 20px;
          @include media('>319px','<768px') {
            font-size: 24px;
          }
        }
        &:last-child {
          width: 135px;
          align-self: flex-end;
          margin-right: 33px;
          > p {
            margin-bottom: 0;
          }
        }
      }
    }
    &--content-last {
      background: #f3f3f3;
      padding: 20px;
      border: none;
      > p {
        padding-left: 20px;
      }
      > div {
        &:first-child,
        &:last-child {
          width: 100%;
          align-self: flex-start;
          margin-right: 0;
        }
      }
    }
  }
  &__container-hands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--tem {
      flex: 0 0 49%;
      background: #fff;
      padding: 20px;
      display: flex;
      @include media('>319px','<768px') {
        flex: 0 0 100%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      &-img {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        align-items: flex-start;
        @include media('>319px','<768px') {
          width: 60px;
          margin-right: 20px;
        }
        img {
          margin-right: 40px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
      }
      .center__bottom {
        &--line {
          &:after {
            margin: 20px 0 0;
          }
        }
      }
    }
  }
}
.ways-win {
  margin-bottom: 35px;
  &__container {
    background: url('../images/3_ways_to_win.png') no-repeat;
    height: 434px;
    padding: 20px;
    align-items: flex-start;
    @include media('>319px','<768px') {
      height: auto;
      background-size: cover;
      margin: 0 -21px;
    }
    &--items {
      padding: 30px;
      color: #fff;
      flex: 0 0 32%;
      height: 185px;
      display: flex;
      flex-direction: column;
      @include media('>319px','<768px') {
        flex: 0 0 100%;
        padding: 20px;
        height: auto;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      .extra-bold {
        color: #fff;
      }
      &:nth-child(1) {
        background: #0076b2;
      }
      &:nth-child(2) {
        background: #212433;
      }
      &:nth-child(3) {
        background: #f08e00;
      }
    }
    &--items-bottom {
      align-self: flex-end;
    }
  }
}

.winnig-payouts {
  box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.17);
  position: relative;
  &:before,
  &:after {
    content: '';
    display: block;
    box-shadow: inset 0px -50px 0px 0px rgba(33,36,51,1);
    height: 50px;
    margin-top: -50px;
    position: absolute;
    width: 100%;
    left: -20px;
  }
  &:before {
    left: auto;
    right: -20px;
    bottom: 0;
  }
  &__top-panel {
    background: #0076b2;
    padding: 20px;
    text-align: center;
    color: #b8cde1;
    &--title {
      text-transform: uppercase;
      color: #fff;
      font-weight: 900;
      margin-bottom: 10px;
    }
    &--text {
      max-width: 630px;
      margin: auto;
      display: inline-block;
    }
  }
  &__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    z-index: 1;
    tr {
      &:nth-child(even) {
        td {
          background:#f3f3f3;
        }
      }
    }
    th {
      width: 50%;
      font-weight: 900;
      background: #095c8f;
      color: #fff;
      height: 50px;
    }
    td {
      height: 50px;
      background: #fff;
    }
  }
}

.edge-work {
  background: #212433;
  margin: 0 -20px 0 -20px;
  padding: 40px 20px;
  @include media('>319px','<768px') {
    padding-bottom: 20px;
  }
  color: #b8cde1;
  .title-h3 {
    color: #fff;
  }
  &__container {
    border: 1px solid #373a46;
    padding: 40px 20px 10px 20px;
    margin-bottom: 40px;
    text-align: center;
    .extra-bold {
      color: #fff;
    }
    .step__work {
      @include media('>319px','<768px') {
        margin: 20px 0;
      }
      &--content {
        font-weight: 900;
        color: #fff;
      }
      &--item {
        height: 90px;
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media('>319px','<768px') {
          width: auto;
        }
        &:after,
        &:before {
          transform: skew(30deg, 0deg);
        }
        &:before {
          transform: skew(-30deg, 0deg);
        }
        &:nth-child(1) {
          @include media('>319px','<768px') {
            border: none;
            margin-bottom: 0;
          }
          &:after,
          &:before {
            background: #0076b2;
            border-color: #0076b2;
          }
        }
        &:nth-child(2) {
          width: 70px;
          @include media('>319px','<768px') {
            width: auto;
            padding: 25px 0 0 0;
            height: 50px;
            margin-bottom: 0;
          }
          &:after,
          &:before {
            @include media('>319px','<768px') {
              bottom: 0;
              top: 0;
            }
          }
        }
        &:nth-child(3) {
          overflow: initial;
          @include media('>319px','<768px') {
            margin: 0 0 40px 0;
            padding: 65px 0 0 0;
            height: 60px;
          }
          &:after,
          &:before {
            background: #fff;
            border-color: #fff;
          }
          .step__work--content {
            color: #222533;
            @include media('>319px','<768px', 'landscape') {
              position: relative;
              top: 10px;
            }
          }
        }
        &:nth-child(4) {
          width: 70px;
          margin: 0 10px 0 10px;
          font-size: 23px;
          padding: 0 0 0 37px;
          @include media('>319px','<768px') {
            width: auto;
            padding: 22px 0 0 0;
            height: 50px;
            margin: 0 0 0 0;
          }
          &:after,
          &:before {
            left: 15px;
          }
          &:after {
            @include media('>319px','<768px') {
              left: 0;
              right: auto;
              transform: skew(0, 13deg);
              border-right: none;
              border-bottom: 2px solid #373a46;
            }
          }
          &:before {
            @include media('>319px','<768px') {
              left: auto;
              right: 0;
              transform: skew(0, -13deg);
              border-top: 2px solid #373a46;
              border-left: none;
            }
          }
        }
        &:nth-child(5) {
          overflow: hidden;
          @include media('>319px','<768px') {
            padding: 30px 0 0 0;
            height: 80px;
          }
          @include media('>319px','<768px', 'landscape') {
            height: 113px;
          }
          &:after,
          &:before {
            background: #f08e00;
            border-color: #f08e00;
            left: 15px;
            @include media('>319px','<768px') {
              width: 100%;
              top: 34px;
            }
            @include media('>319px','<768px', 'landscape') {
              top: 56px;
            }
          }
          &:after {
            @include media('>319px','<768px') {
              left: auto;
              right: 0;
              transform: skew(0, -13deg);
            }
          }
          &:before {
            @include media('>319px','<768px') {
              left: 0;
              right: auto;
              transform: skew(0, 13deg);
            }
          }
          .step__work--content {
            @include media('>319px','<768px', 'landscape') {
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }
  }
}

.all-odds {
  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--items {
      background: #fff;
      display: flex;
      flex: 0 0 150px;
      height: 160px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      color: #595f68;
      padding: 30px 20px;
      text-align: center;
      @include media('>319px','<769px') {
        flex: 0 0 48%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      .extra-bold {
        color: #0865a0;
      }
      &-percent {
        color: #0865a0;
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}