.how-to-play {
  &__slots-element {
    background: #f3f3f3;
    margin: 0 -20px 60px -20px;
    padding: 40px 20px;
  }
  // blackjack
  &__blackjack-game-objectives {
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 40px 20px;
    background: url('../images/2_game_objectives.png') no-repeat;
    background-size: cover;
    color: #fff;
    .title-h3 {
      color: #fff;
      margin-bottom: 0;
    }
    > p {
      font-size: 18px;
      margin-bottom: 0;
      > span {
        color: #b8cde1;
      }
    }
  }
  &__regular-gameplay {
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 20px 20px;
    background: #f3f3f3;
    > p {
      text-align: left;
    }
    .recomendation__area {
      counter-reset: my-counter;
      &--item {
        box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.26);
        padding: 20px;
        margin-bottom: 20px;
        background: #fff;
        position: relative;
        &:before {
          counter-increment: my-counter;
          content: counter(my-counter);
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #0076b2;
          z-index: 1;
          color: #fff;
          font-size: 18px;
          font-weight: 900;
          line-height: 50px;
          left: 40px;
          top: 40px;
          @include media('>319px','<768px') {
            left: 30px;
            top: 30px;
            font-size: 14px;
            line-height: 40px;
            width: 40px;
            height: 40px;
          }
        }
        .regular-gameplay {
          position: relative;
          img {
            margin-bottom: 40px;
          }
          &-points {
            position: absolute;
            display: flex;
            top: 47%;
            left: 50%;
            right: auto;
            bottom: 0;
            margin: auto;
            font-size: 18px;
            line-height: 100px;
            color: #595f68;
            font-weight: 900;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            @include media('>319px','<768px') {
              top: 46%;
              font-size: 12px;
              line-height: 55px;
            }
            &--items {
              width: 100px;
              height: 100px;
              background: #fff;
              border-radius: 50%;
              box-shadow: 0 0 25px 6px rgba(0,0,0,0.26);
              @include media('>319px','<768px') {
                width: 55px;
                height: 55px;
              }
              &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  &__rules-play {
    background: #222534;
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 20px 20px;
    text-align: left;
    color: #b8cde1;
    .title-h3 {
      color: #fff;
    }
    .recomendation__area {
      margin-bottom: 20px;
      &--item {
        background: #fff;
        color: #595f68;
      }
    }
    .dealer-play {
      margin-bottom: 20px;
      > p {
        margin-bottom: 0;
      }
      .title-h4 {
        color: #fff;
        margin-bottom: 8px;
      }
      .global__item-style {
        &--title {
          color: #fff;
        }
      }
      .center__bottom {
        &--line {
          &:after {
            background: #333542;
            margin: 8px auto 0;
          }
        }
      }
    }
    .dealer-top-panel {
      background: #373946;
      padding: 20px;
      text-align: center;
      margin-bottom: 52px;
      > p {
        margin-bottom: 0;
      }
    }
    .dealer-table {
      background: url('../images/table_01_v2.png') no-repeat;
      background-size: contain;
      height: 283px;
      position: relative;
      margin-bottom: 50px;
      @include media('>319px','<768px') {
        background: url('../images/table_01_v2_mobile.png') no-repeat;
        //height: 216px;
        position: absolute;
        width: 100%;
        background-size: 100%;
      }
      //display: flex;
      //flex-direction: column;
      //align-items: center;
      //justify-content: center;
      //margin-bottom: 50px;
      //.dealer,
      //.dealer-player1,
      //.dealer-player2,
      //.dealer-player3,
      //.dealer-player4 {
      //  position: relative;
      //}
      //.dealer {
      //  top: -25px;
      //  z-index: 1;
      //  &:before {
      //    content: '';
      //    width: 2px;
      //    height: 50px;
      //    background: #373946;
      //    display: block;
      //    position: absolute;
      //    top: -28px;
      //    left: 0;
      //    right: 0;
      //    margin: auto;
      //    z-index: -1;
      //  }
      //}
      //.dealer-player1 {
      //  left: 64px;
      //  top: -40px;
      //}
      //.dealer-player2 {
      //  right: 34px;
      //  top: 14px;
      //}
      //.dealer-player3 {
      //  left: 30px;
      //  top: 14px;
      //}
      //.dealer-player4 {
      //  right: 64px;
      //  top: -40px;
      //}
    }
    .players-info {
      display: flex;
      justify-content: space-between;
      &--box {
        flex: 0 0 24%;
        width: 225px;
        display: flex;
      }
      &--item {
        background: #373946;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        @include media('>319px','<768px') {
          //width: 200px;
          //margin-left: 12px;
          //margin-right: 12px;
        }
        .center__bottom {
          &--line {
            &:after {
              background: #333542;
              margin: 8px 0 0;
            }
          }
        }
      }
    }
    .players {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .global__list {
      &--item {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
    .dealer-play {
      padding: 20px;
      border: 1px solid #373946;
    }
  }
  // end
  .elemen__area {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    position: relative;
    @include media('>319px','<768px') {
      height: auto;
    }
    &--item {
      background: #fff;
      width: 320px;
      position: relative;
      @include media('>319px','<768px') {
       display: none;
      }
      &:hover {
        background: #0076b2;
        box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
        color: #fff;
        position: relative;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 12px;
          width: 100%;
          height: 50.1%;
          background: #0076b2;;
          transform: skew(13deg, 0deg);
        }
        &:after {
          bottom: 0;
          top: auto;
          background: #0076b2;;
          transform: skew(-13deg, 0deg);
        }
        .global__item-style {
          border-color: #0076b2;
        }
        .global__item-style {
          &--title {
            color: #fff;
          }
        }
        .center__bottom {
          &--line {
            &:after {
              background: #076699;
            }
          }
        }
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        &:hover {
          &:after,
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: auto;
            right: 14px;
            width: 100%;
            height: 50.1%;
            background: #0076b2;;
            transform: skew(-13deg, 0deg);
          }
          &:after {
            bottom: 0;
            top: auto;
            background: #0076b2;;
            transform: skew(13deg, 0deg);
          }
        }
      }
      .center__bottom {
        &--line {
          &:after {
            margin: 15px 0 0;
          }
        }
      }
      .recomendation__area {
        &--text {
          min-height: 95px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .qwerty {
    position: absolute;
    background: url('../images/slots_element.png') no-repeat center center;
    width: 280px;
    height: 560px;
    background-size: cover;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px 20px 20px;
    @include media('>319px','<768px') {
      position: relative;
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0 0;
        }
      }
    }
  }
}

.qwerty__slide {
  display: none;
  @include media('>319px','<767px') {
    display: block;
    top: 308px;
  }
  &--item {
    background: #fff;
    width: 244px;
    p {
      margin: 0;
    }
  }
  .global__item-style {
    height: 202px;
    padding: 10px;
  }
  .slick-slide {
    width: 244px;
  }
  .global__item-style  {
    &--title {
      margin-bottom: 15px;
      padding: 0;
    }
  }
  .slick-dots {
    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: rgba(255,255,255,0.50);
      &.slick-active {
        background: #fff;
      }
      button {
        display: none;
        &:before {
          content: none;
        }
      }
    }
  }
}

.how-to-play__paylines {
  .global__item-style {
    padding: 0;
    &--title {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      margin: 30px 0;
      padding: 0;
      @include media('>319px','<768px') {
        display: none;
      }
    }
  }
}

.how-to-play__symbols-breakdown {
  background: #222534;
  margin: 0 -20px 60px -20px;
  padding: 40px 20px 0 20px;
  border-bottom : 20px solid #f9c780;
  color: #b8cde1;
  .recomendation__area {
    padding-bottom: 40px;
    &--item {
      flex: 0 0 235px;
      height: 325px;
      color: #595f68;
      position: relative;
      background: #fff;
      &-active,
      &:hover, {
        cursor: pointer;
        background: #0076b2;
        box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
        color: #fff;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 14px;
          width: 50.1%;
          height: 100%;
          background: #0076b2;
          transform: skew(0deg, 13deg);
        }
        &:after {
          right: 0;
          transform: skew(0deg, -13deg);
        }
        .global__item-style {
          border-color: #0076b2;
        }
        .global__item-style {
          &--title {
            color: #fff;
          }
        }
        .center__bottom {
          &--line {
            &:after {
              background: #076699;
            }
          }
        }
      }
      .global__item-style {
        height: 100%;
        &--title {
          padding: 0;
        }
      }
    }
    .slick-slide {
      margin: 0 5px;
      padding: 0 0 30px 0;
      width: 230px !important;
      opacity: 0.3;
    }
    .slick-active {
      opacity: 1;
    }
  }
  .title-h3 {
    color: #fff;
  }
  img {
    margin: 0 0 -7px 0;
  }
}
.mobile__tabs--area {
  margin-bottom: 30px;
}
.mobile__tabs-paylines {
  display: none;
  justify-content: space-between;
  @include media('>319px','<768px') {
    display: flex;
  }
  &--item {
    flex: 0 0 50%;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background: #f3f3f3;
    color: #595f68;
    font-weight: 900;
    text-transform: uppercase;
    padding: 22px 10px;
    &-active {
      background: #fff;
      color: #222533;
    }
  }
}
.slick-active {
  .recomendation__area {
    &--item {
      background: #0076b2;
      box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
      color: #fff;
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 14px;
        width: 50.1%;
        height: 100%;
        background: #0076b2;
        transform: skew(0deg, 13deg);
      }
      &:after {
        right: 0;
        transform: skew(0deg, -13deg);
      }
      .global__item-style {
        border-color: #0076b2;
      }
      .global__item-style {
        &--title {
          color: #fff;
        }
      }
      .center__bottom {
        &--line {
          &:after {
            background: #076699;
          }
        }
      }
    }
  }
}

// new
.how-to-play-blackjack {
  margin-bottom: 60px;
  text-align: center;
  .step__work {
    text-align: left;
    p {
      margin-bottom: 0;
    }
    &--img {
      @include media('>319px','<769px') {
        position: initial;
        margin-right: 20px;
      }
    }
    &--item {
      height: 172px;
      background: #fff;
      @include media('>319px','<=768px') {
        height: auto;
      }
      &:after,
      &:before {
        background: #fff;
        border-color: #f2f5f6;
        @include media('>319px','<768px') {
          border-color: #f2f5f6;
        }
      }
      &:nth-child(1),
      &:nth-child(3) {
        border-color: #f2f5f6;
        @include media('>319px','<=768px') {
          border-color: #f2f5f6;
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &:after,
        &:before {
          @include media('>319px','<=768px') {
            border-color: #f2f5f6;
          }
        }
      }
      &:nth-child(1) {
        @include media('>319px','<=768px') {
          padding: 20px 25px 40px 20px;
          margin-bottom: 5px;
        }
        &:after {
          @include media('>319px','<=768px') {
            top: -32px;
          }
        }
        &:before {
          @include media('>319px','<=768px') {
            bottom: 32px;
          }
        }
      }
      &:nth-child(2) {
        @include media('>319px', '<=768px') {
          padding: 30px 25px 40px 15px;
          margin-bottom: -37px;
        }
      }
      &:nth-child(3) {
        @include media('>319px', '<=768px') {
          padding: 80px 25px 20px 40px;
        }
        &:after,
        &:before {
          @include media('>319px','<=768px') {
            top: 35px;
          }
        }
      }
    }
  }
}

