.how-to-play {
  &__slots-element {
    background: #f3f3f3;
    margin: 0 -20px 60px -20px;
    padding: 40px 20px;
  }
  // blackjack
  &__blackjack-game-objectives {
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 40px 20px;
    background: url('../images/2_game_objectives.png') no-repeat;
    background-size: cover;
    @include media('>319px','<769px') {
      text-align: center;
    }
    color: #fff;
    .title-h3 {
      color: #fff;
      margin-bottom: 0;
    }
    > p {
      font-size: 18px;
      margin-bottom: 0;
      > span {
        color: #b8cde1;
      }
    }
  }
  &__regular-gameplay {
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 20px 20px;
    background: #f3f3f3;
    p {
      text-align: left;
    }
    img {
      @include media('>319px','<768px') {
        margin-bottom: 20px !important;
      }
    }
    .recomendation__area {
      counter-reset: my-counter;
      &--item {
        box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.26);
        padding: 20px;
        margin-bottom: 20px;
        background: #fff;
        position: relative;
        &:before {
          counter-increment: my-counter;
          content: counter(my-counter);
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #0076b2;
          z-index: 1;
          color: #fff;
          font-size: 18px;
          font-weight: 900;
          line-height: 50px;
          left: 40px;
          top: 40px;
          @include media('>319px','<768px') {
            left: 30px;
            top: 30px;
            font-size: 14px;
            line-height: 40px;
            width: 40px;
            height: 40px;
          }
        }
        .regular-gameplay {
          position: relative;
          img {
            margin-bottom: 40px;
          }
          &-points {
            position: absolute;
            display: flex;
            top: 47%;
            left: 50%;
            right: auto;
            bottom: 0;
            margin: auto;
            font-size: 18px;
            line-height: 100px;
            color: #595f68;
            font-weight: 900;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            @include media('>319px','<768px') {
              top: 46%;
              font-size: 12px;
              line-height: 55px;
            }
            &--items {
              width: 100px;
              height: 100px;
              background: #fff;
              border-radius: 50%;
              box-shadow: 0 0 25px 6px rgba(0,0,0,0.26);
              @include media('>319px','<768px') {
                width: 55px;
                height: 55px;
              }
              &:nth-child(2) {
                margin-left: 10px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  &__rules-play {
    background: #222534;
    margin: 0 -20px 0 -20px;
    padding: 40px 20px 20px 20px;
    text-align: left;
    color: #b8cde1;
    .title-h3 {
      color: #fff;
    }
    .recomendation__area {
      margin-bottom: 20px;
      &--item {
        background: #fff;
        color: #595f68;
      }
    }
    .dealer-play {
      margin-bottom: 40px;
      padding: 20px;
      border: 1px solid #373946;
      @include media('>319px','<768px') {
        margin: 0 -20px 35px;
      }
      > p {
        margin-bottom: 0;
      }
      .title-h4 {
        color: #fff;
        margin-bottom: 8px;
      }
      .global__item-style {
        &--title {
          color: #fff;
        }
      }
      .center__bottom {
        &--line {
          &:after {
            background: #333542;
            margin: 8px auto 0;
          }
        }
      }
    }
    .dealer-top-panel {
      background: #373946;
      padding: 20px;
      text-align: center;
      margin-bottom: 32px;
      position: relative;
      > p {
        margin-bottom: 0;
      }
      &:after {
        content: "";
        width: 2px;
        height: 100px;
        background: #373946;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .dealer-table {
      &__holder {
        height: auto;
        @include media('>319px','<768px') {
          height: auto;
        }
      }
      background: url('../images/table_01_v2.png') no-repeat;
      background-size: contain;
      height: 283px;
      position: relative;
      margin-bottom: 37px;
      background-position: center top;
      z-index: 1;
      @include media('>319px','<768px') {
        background: url('../images/table_01_v2_mobile.png') no-repeat;
        background-position: center;
        width: 320px;
        height: 216px;
        background-size: 100%;
        margin: 0 auto 45px auto;
        display: flex;
        align-items: flex-end;
        position: relative;
      }
    }
    .players-info {
      display: flex;
      justify-content: space-between;
      @include media('>319px','<768px') {
        width: 320px;
        margin: auto;
      }
      &-pointer {
        display: none;
        @include media('>319px','<768px') {
          display: block;
          height: 60px;
          width: 320px;
          position: absolute;
          bottom: -45px;
          z-index: 0;
        }
        .slick-list {
          height: 100%;
        }
        &--item1,
        &--item2,
        &--item3,
        &--item4 {
          background: #373946;
          width: 2px;
          height: 25px;
          position: absolute;
          left: -90px;
          right: 0;
          margin: auto;
          bottom: -37px;
          &:after {
            content: '';
            background: #373946;
            height: 76px;
            display: inline-block;
            transform: rotate(90deg);
            position: absolute;
            right: 24px;
            top: -38px;
            width: 100%;
            left: -37px;
          }
          &:before {
            content: '';
            background: #373946;
            height: 39px;
            width: 2px;
            display: inline-block;
            position: absolute;
            right: 24px;
            top: -38px;
            left: -74px;
          }
        }
        &--item2 {
          left: -68px;
          &:after {
            height: 10px;
            right: 24px;
            top: -4px;
            left: -4px;
          }
          &:before {
            height: 22px;
            right: 24px;
            top: -20px;
            left: -8px;
          }
        }
        &--item3 {
          left: -46px;
          &:after {
            height: 66px;
            right: 24px;
            top: -32px;
            left: 32px;
          }
          &:before {
            height: 22px;
            right: 24px;
            top: -20px;
            left: 63px;
          }
        }
        &--item4 {
          left: -28px;
          &:after {
            height: 132px;
            right: 24px;
            top: -65px;
            left: 65px;
          }
          &:before {
            height: 39px;
            right: 24px;
            top: -38px;
            left: 130px;
          }
        }
      }
      &--box {
        flex: 0 0 24%;
        width: 225px;
        display: flex;
        position: relative;
        &:nth-child(1) {
          &:after {
            content: "";
            background: url("../images/player1_point.png") no-repeat;
            width: 34px;
            height: 90px;
            background-size: contain;
            position: absolute;
            top: -90px;
            left: 23px;
            right: 0;
            margin: auto;
            @include media('>319px','<768px') {
              content: none;
            }
          }
        }
        &:nth-child(2) {
          &:after {
            content: "";
            background: url("../images/player2_point.png") no-repeat;
            width: 43px;
            height: 42px;
            background-size: contain;
            position: absolute;
            top: -42px;
            left: -57px;
            right: 0;
            margin: auto;
            @include media('>319px','<768px') {
              content: none;
            }
          }
        }
        &:nth-child(3) {
          &:after {
            content: "";
            background: url("../images/player3_point.png") no-repeat;
            width: 43px;
            height: 42px;
            background-size: contain;
            position: absolute;
            top: -42px;
            left: 57px;
            right: 0;
            margin: auto;
            @include media('>319px','<768px') {
              content: none;
            }
          }
        }
        &:nth-child(4) {
          &:after {
            content: "";
            background: url("../images/player4_point.png") no-repeat;
            width: 30px;
            height: 94px;
            background-size: contain;
            position: absolute;
            top: -94px;
            left: -21px;
            right: 0;
            margin: auto;
            @include media('>319px','<768px') {
              content: none;
            }
          }
        }
      }
      &--item {
        background: #373946;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        @include media('>319px','<768px') {
          width: 200px;
          height: 210px;
          margin-right: 12px;
        }
        .center__bottom {
          &--line {
            &:after {
              background: #333542;
              margin: 8px 0 0;
            }
          }
        }
      }
    }
    .players {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .global__list {
      &--item {
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }
  // end
  .elemen__area {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 650px;
    position: relative;
    @include media('>319px','<768px') {
      height: auto;
    }
    &--item {
      background: #fff;
      width: 320px;
      position: relative;
      @include media('>319px','<768px') {
       display: none;
      }
      &:hover {
        background: #0076b2;
        box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
        color: #fff;
        position: relative;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 12px;
          width: 100%;
          height: 50.1%;
          background: #0076b2;;
          transform: skew(13deg, 0deg);
        }
        &:after {
          bottom: 0;
          top: auto;
          background: #0076b2;;
          transform: skew(-13deg, 0deg);
        }
        .global__item-style {
          border-color: #0076b2;
        }
        .global__item-style {
          &--title {
            color: #fff;
          }
        }
        .center__bottom {
          &--line {
            &:after {
              background: #076699;
            }
          }
        }
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        &:hover {
          &:after,
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: auto;
            right: 14px;
            width: 100%;
            height: 50.1%;
            background: #0076b2;;
            transform: skew(-13deg, 0deg);
          }
          &:after {
            bottom: 0;
            top: auto;
            background: #0076b2;;
            transform: skew(13deg, 0deg);
          }
        }
      }
      .center__bottom {
        &--line {
          &:after {
            margin: 15px 0 0;
          }
        }
      }
      .recomendation__area {
        &--text {
          min-height: 95px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .qwerty {
    position: absolute;
    background: url('../images/slots_element.png') no-repeat center center;
    width: 280px;
    height: 560px;
    background-size: cover;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px 20px 20px;
    @include media('>319px','<768px') {
      position: relative;
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0 0;
        }
      }
    }
  }
}

.qwerty__slide {
  display: none;
  @include media('>319px','<767px') {
    display: block;
    top: 308px;
  }
  &--item {
    background: #fff;
    width: 244px;
    p {
      margin: 0;
    }
  }
  .global__item-style {
    height: 202px;
    padding: 10px;
  }
  .slick-slide {
    width: 244px;
  }
  .global__item-style  {
    &--title {
      margin-bottom: 15px;
      padding: 0;
    }
  }
  .slick-dots {
    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: rgba(255,255,255,0.50);
      &.slick-active {
        background: #fff;
      }
      button {
        display: none;
        &:before {
          content: none;
        }
      }
    }
  }
}

.how-to-play__paylines {
  .global__item-style {
    padding: 0;
    &--title {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
      margin: 30px 0;
      padding: 0;
      @include media('>319px','<768px') {
        display: none;
      }
    }
  }
}

.how-to-play__symbols-breakdown {
  background: #222534;
  margin: 0 -20px 60px -20px;
  padding: 40px 20px 0 20px;
  border-bottom : 20px solid #f9c780;
  color: #b8cde1;
  .recomendation__area {
    padding-bottom: 40px;
    &--item {
      flex: 0 0 235px;
      height: 325px;
      color: #595f68;
      position: relative;
      background: #fff;
      &-active,
      &:hover, {
        cursor: pointer;
        background: #0076b2;
        box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
        color: #fff;
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 14px;
          width: 50.1%;
          height: 100%;
          background: #0076b2;
          transform: skew(0deg, 13deg);
        }
        &:after {
          right: 0;
          transform: skew(0deg, -13deg);
        }
        .global__item-style {
          border-color: #0076b2;
        }
        .global__item-style {
          &--title {
            color: #fff;
          }
        }
        .center__bottom {
          &--line {
            &:after {
              background: #076699;
            }
          }
        }
      }
      .global__item-style {
        height: 100%;
        &--title {
          padding: 0;
        }
      }
    }
    .slick-slide {
      margin: 0 5px;
      padding: 0 0 30px 0;
      width: 230px !important;
      opacity: 0.3;
    }
    .slick-active {
      opacity: 1;
    }
  }
  .title-h3 {
    color: #fff;
  }
  img {
    margin: 0 0 -7px 0;
  }
}
.mobile__tabs--area {
  margin-bottom: 30px;
}
.mobile__tabs-paylines {
  display: none;
  justify-content: space-between;
  @include media('>319px','<768px') {
    display: flex;
  }
  &--item {
    flex: 0 0 50%;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    background: #f3f3f3;
    color: #595f68;
    font-weight: 900;
    text-transform: uppercase;
    padding: 22px 10px;
    &-active {
      background: #fff;
      color: #222533;
    }
  }
}
.slick-active {
  .recomendation__area {
    &--item {
      background: #0076b2;
      box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.37);
      color: #fff;
      position: relative;
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: 14px;
        width: 50.1%;
        height: 100%;
        background: #0076b2;
        transform: skew(0deg, 13deg);
      }
      &:after {
        right: 0;
        transform: skew(0deg, -13deg);
      }
      .global__item-style {
        border-color: #0076b2;
      }
      .global__item-style {
        &--title {
          color: #fff;
        }
      }
      .center__bottom {
        &--line {
          &:after {
            background: #076699;
          }
        }
      }
    }
  }
}

// new
.how-to-play-blackjack {
  margin-bottom: 60px;
  text-align: center;
  .step__work {
    text-align: left;
    p {
      margin-bottom: 0;
    }
    &--img {
      @include media('>319px','<769px') {
        position: initial;
        margin-right: 20px;
      }
    }
    &--item {
      height: 172px;
      background: #fff;
      @include media('>319px','<769px') {
        height: auto;
      }
      &:after,
      &:before {
        background: #fff;
        border-color: #f2f5f6;
        @include media('>319px','<769px') {
          border-color: #f2f5f6;
        }
      }
      &:nth-child(1),
      &:nth-child(3) {
        border-color: #f2f5f6;
        @include media('>319px','<769px') {
          border-color: #f2f5f6;
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        &:after,
        &:before {
          @include media('>319px','<769px') {
            border-color: #f2f5f6;
          }
        }
      }
      &:nth-child(1) {
        @include media('>319px','<769px') {
          padding: 30px 25px 110px 20px;
          margin-bottom: 12px;
        }
        &:after {
          @include media('>319px','<769px') {
            top: -42px;
          }
        }
        &:before {
          @include media('>319px','<769px') {
            bottom: 42px;
          }
        }
      }
      &:nth-child(2) {
        @include media('>319px', '<769px') {
          padding: 30px 25px 80px 15px;
          margin-bottom: -37px;
        }
      }
      &:nth-child(3) {
        @include media('>319px', '<769px') {
          padding: 96px 25px 20px 40px;
        }
        &:after,
        &:before {
          @include media('>319px','<769px') {
            top: 41px;
          }
        }
      }
    }
  }
}

// video poker style

.video-poker-container {
  .how-to-play {
    &__step {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &--content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        .sprite-videopoker {
          flex: 0 0 auto;
          margin-right: 22px;
        }
        &-num {
          font-size: 18px;
          display: inline-block;
          color: #000;
          font-weight: 900;
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      &--item {
        max-width: 330px;
        flex: 1 0 auto;
        height: 110px;
        margin-bottom: 20px;
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        @include media('>319px','<769px') {
          max-width: 100%;
          flex: 0 0 100%;
          height: 160px !important;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          transform: skewX(20deg);
          height: 55.5px;
          width: 100%;
          max-width: 100%;
          border: 2px solid #eef2f3;
          border-bottom: none;
          top: 0;
          left: 0;
          z-index: 0;
          @include media('>319px','<769px') {
            width: 50.1%;
            max-width: 320px;
            height: 160px;
            transform: skewY(-3deg);
            left: 0;
            top: -13px;
            border: 2px solid #eef2f3;
            border-right: none;
          }
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          transform: skewX(-20deg);
          height: 55.5px;
          width: 100%;
          max-width: 100%;
          top: 54px;
          left: 0;
          border: 2px solid #eef2f3;
          border-top: none;
          z-index: 0;
          @include media('>319px','<769px') {
            width: 50.1%;
            max-width: 320px;
            height: 160px;
            transform: skewY(3deg);
            right: 1px;
            top: -13px;
            border: 2px solid #eef2f3;
            border-left: none;
          }
        }
        &:hover {
          &:after,
          &:before {
            background: #0076b2;
            border-color: #0076b2;
            border-left: none !important;
            border-right: none !important;
          }
          .ovh-left,
          .ovh-right {
            border-color: #0076b2;
          }
          .how-to-play__step {
            &--content {
              &-num {
                color: #fff;
              }
            }
          }
          .sprite-videopoker-icon-1 {background-position: 0 -77px;}
          .sprite-videopoker-icon-2 {background-position: -65px -77px;}
          .sprite-videopoker-icon-3 {background-position: -118px -77px;}
          .sprite-videopoker-icon-4 {background-position: -193px -83px;}
          .sprite-videopoker-icon-5 {background-position: -257px -83px;}
          .sprite-videopoker-icon-6 {background-position: -320px -84px;}
          .how-to-play__step {
            &--content {
              color: #fff;
            }
          }
        }
        &:nth-child(1),
        &:nth-child(4){
          &:hover {
            border-left: none !important;
          }
          &:after,
          &:before {
            left: -12px;
            @include media('>319px','<769px') {
              width: 50.1%;
              max-width: 50.1%;
              left: auto;
              right: 0;
              border-left: none;
              border-right: 2px solid #eef2f3;
              top: 4px;
            }
          }
          &:before {
            @include media('>319px','<769px') {
              left: 0;
              border-right: none;
            }
          }
          .how-to-play__step {
            &--content {
              &-num {
                left: -14px;
                bottom: -21px;
              }
            }
          }
          &.ovh-left {
            @include media('>319px','<769px') {
              overflow: inherit;
            }
          }
        }
        &:nth-child(1) {
          @include media('>319px','<769px') {
            border-left: none;
            &:hover {
              background: #0076b2;
              border-color: #0076b2;
              border-top: none !important;
              border-left: none !important;
            }
          }
          &:after {
            @include media('>319px','<769px') {
              border-top: none;
              border-left: none;
            }
          }
          &:before {
            @include media('>319px','<769px') {
              border-left: 2px solid #eef2f3;
              border-top: none;
            }
          }
          &.ovh-left {
            @include media('>319px','<769px') {
              border-top: 2px solid #eef2f3;
            }
          }
        }
        &:nth-child(2),
        &:nth-child(5){
          padding-left: 40px;
          &:after,
          &:before {
            left: 10px;
            width: 94%;
            max-width: 94%;
            @include media('>319px','<769px') {
              width: 50.1%;
              max-width: 50.1%;
              left: auto;
              right: 0;
              border-left: none;
              border-right: 2px solid #eef2f3;
              top: 9px;
            }
          }
          &:before {
            @include media('>319px','<769px') {
              left: 0;
              border-right: none;
              border-left: 2px solid #eef2f3;
            }
          }
          .how-to-play__step {
            &--content {
              &-num {
                left: -23px;
                bottom: -21px;
              }
            }
          }
        }
        &:nth-child(3),
        &:nth-child(6){
          padding-left: 40px;
          &:hover {
            border-color: #0076b2;
          }
          &:after,
          &:before {
            left: 12px;
            width: 100%;
            max-width: 100%;
            @include media('>319px','<769px') {
              left: auto;
              width: 50.1%;
              right: 0;
              top: 9px;
              border-left: none;
            }
          }
          &:before {
            @include media('>319px','<769px') {
              left: 0;
              border-right: none;
              border-left: 2px solid #eef2f3;
            }
          }
        }
        &:nth-child(3) {
          &:after {
            border-right: 2px solid #eef2f3;
          }
          .how-to-play__step {
            &--content {
              &-num {
                left: -22px;
                bottom: -16px;
              }
            }
          }
          &.ovh-right {
            @include media('>319px','<769px') {
              overflow: inherit;
              border-bottom: none;
              border-right: none;
            }
          }
        }
        &:nth-child(6) {
          @include media('>319px','<769px') {
            border-right: none;
          }
          &:after,
          &:before {
            left: 12px;
            width: 100%;
            max-width: 100%;
            @include media('>319px','<769px') {
              left: auto;
              width: 50.1%;
              right: 0;
              top: 9px;
              border-left: none;
              border-bottom: none;
            }
          }
          &:after {
            border-right: 2px solid #eef2f3;
          }
          &:before {
            @include media('>319px','<769px') {
              left: 0;
              border-right: none;
              border-left: 2px solid #eef2f3;
            }
          }
          .how-to-play__step {
            &--content {
              &-num {
                left: -22px;
                bottom: -26px;
              }
            }
          }
        }
      }
    }
  }
  .ovh-left {
    overflow: hidden;
    border-left: 2px solid #eef2f3;
  }
  .ovh-right {
    overflow: hidden;
    border-right: 2px solid #eef2f3;
    @include media('>319px','<769px') {
      border-bottom: 2px solid #eef2f3;
    }
  }
  .game-screen {
    border-top: 1px solid #ecf0f1;
    margin: 0 -20px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background: #f3f3f3;
    &--main-game {
      padding: 20px;
      box-shadow: 0 0 32px -1px rgba(0,0,0,0.34);
      position: relative;
      margin-bottom: 30px;
      background: #fff;
      @include media('>319px','<769px') {
        padding: 10px;
      }
    }
    &--main-game-mobile {
      display: none;
      counter-reset: item;
      margin-bottom: 30px;
      @include media('>319px','<769px') {
        display: block;
      }
      &--items {
        background: #fff;
        padding: 15px;
        box-shadow: 0 0 13px 1px rgba(0,0,0,0.20);
        position: relative;
        &:before {
          counter-increment: item;
          content: counter(item);
          width: 35px;
          height: 35px;
          background: #eeeeee;
          text-align: center;
          border-radius: 50%;
          font-size: 18px;
          line-height: 35px;
          font-weight: 900;
          color: #030303;
          display: block;
          right: 15px;
          position: absolute;
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:first-child {
          &:before {
            color: #fff;
            background: #0076b2;
          }
        }
        .global__item-style {
          &--title {
            text-transform: capitalize;
          }
        }
        .center {
          &__bottom {
            &--line {
              &:after {
                margin: 20px 0;
              }
            }
          }
        }
      }
    }
    &__game {
      position: absolute;
      &:nth-child(2) {
        left: 3%;
        top: 5%;
      }
      &:nth-child(3) {
        left: 3%;
        bottom: 39.5%;
        z-index: 1;
      }
      &:nth-child(4) {
        right: 10.5%;
        bottom: 39.1%;
        .game-screen {
          &__game {
            &--content {
              left: -383px;
              top: -124px;
            }
          }
        }
      }
      &:nth-child(5) {
        left: 10.1%;
        bottom: 12.5%;
        z-index: 2;
        .game-screen {
          &__game {
            &--content {
              top: -143px;
            }
          }
        }
      }
      &:nth-child(6) {
        right: 24.8%;
        bottom: 16.5%;
        .game-screen {
          &__game {
            &--content {
              left: -383px;
              top: -141px;
            }
          }
        }
      }
      &--content {
        background: #fff;
        padding: 25px;
        display: none;
        position: absolute;
        width: 410px;
        top: 25px;
        left: 25px;
        z-index: 0;
        @include media('>319px','<769px') {
          display: none;
        }
        .global {
          &__item-style {
            &--title {
              text-transform: capitalize;
            }
          }
        }
        .center {
          &__bottom {
            &--line {
              &:after {
                margin: 20px 0;
              }
            }
          }
        }
      }
      .show-hide {
        display: block;
        @include media('>319px','<769px') {
          display: none;
        }
      }
      &--circle {
        background: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        color: #030303;
        font-weight: 900;
        transition: all 0.3s ease;
        box-shadow: 2px 2px 14px 0 rgba(0,0,0,0.21);
        z-index: 2;
        position: relative;
        @include media('>319px','<769px') {
          width: 35px;
          height: 35px;
          line-height: 35px;
        }
        &-active {
          background: #0076b2;
          color: #fff;
        }
      }
    }
    &__game-double {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      @include media('>319px','<769px') {
        justify-content: center;
      }
      &--item {
        flex: 0 0 49%;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 32px -1px rgba(0,0,0,0.34);
        @include media('>319px','<769px') {
          flex: 0 0 100%;
          padding: 10px;
          max-width: 450px;
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .winning {
    &__hands {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #fff;
      color: initial;
      margin-bottom: 30px;
      &--items {
        flex: 0 0 50%;
        @include media('>319px','<769px') {
          flex: 0 0 100%;
        }
        &:first-child {
          @include media('>319px','<769px') {
            display: none;
          }
        }
      }
      .card-values {
        &__container {
          &--title {
            text-align: center;
            @include media('>319px','<769px') {
              display: none;
            }
          }
        }
      }
    }
    &__hands-list {
      list-style: none;
      padding: 0;
      margin: 0;
      border-right: 2px solid #f3f3f3;
      &--items {
        height: 105px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
        color: #595f68;
        @include media('>319px','<769px') {
          flex-direction: column;
          height: auto;
          padding: 20px;
        }
        &-title {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 900;
          color: #595f68;
          margin-bottom: 15px;
          display: none;
          @include media('>319px','<769px') {
            display: block;
            font-size: 14px;
          }
        }
        &:not(:last-child) {
          border-bottom: 2px solid #f3f3f3;
        }
      }
    }
  }
}

// Baccarat page

.baccarat__guide-container {
  background: #f3f3f3;
  .global {
    &__list {
      counter-reset: list-counter;
      padding-left: 20px;
      margin-bottom: 20px;
      &--item {
        margin-bottom: auto;
        position: relative;
        &:before {
          position: absolute;
          left: -20px;
          counter-increment: list-counter;
          content: counter(list-counter) " - ";
          color: #00679d;
          font-weight: 900;
        }
      }
    }
  }

  .drawing-rules {
    background: #fff;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-bottom: 43px;
    .center {
      &__bottom {
        &--line {
          &:after {
            margin: 20px 0;
          }
        }
      }
    }
    .strategy-charts {
      &__area {
        margin: 0 -20px;
      }
    }
    .strategy-charts {
      &__table-area {
        max-width: 957px;
      }
    }
  }

  .accustomed-table {
    border: 1px solid #373946;
    padding: 20px;
    margin-bottom: 40px;
  }

  .how-to-play {
    &__rules-play {
      .table-container {
        height: auto;
        box-shadow: none;
        &__col-left {
          width: calc(100% / 3);
          font-weight: 900;
          @include media('>319px','<769px') {
            width: 50%;
          }
        }
        &__col-right-wrap {
          width: calc((100% / 3) * 2);
          @include media('>319px','<769px') {
            width: 50%;
          }
          .col-item {
            width: calc(100% / 2);
            background: #fff;
          }
        }
      }
    }
  }

  .card-values {
    &__area {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;
      &--item {
        flex: 1 0 20%;
        padding-top: 20px;
        @include media('>319px','<769px') {
          flex: 0 0 100%;
        }
        &:nth-child(2) {
          flex: 0 0 490px;
          margin: 0 40px;
          background: #fff;
          padding-top: 0;
          @include media('>319px','<769px') {
            margin: 40px 0 20px 0;
            flex: 0 0 100%;
          }
          .card {
            &__content {
              display: flex;
              &--item-title {
                height: 60px;
                text-align: center;
                color: #fff;
                background: #0076b2;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .extra-bold {
                  color: #fff;
                }
                @include media('>319px','<769px') {
                  display: none;
                }
              }
              &--item {
                flex: 0 1 100%;
                &:first-child {
                  .card {
                    &__content {
                      &--box {
                        padding: 0 14px;
                        &:nth-child(2) {
                          display: flex;
                          justify-content: space-between;
                          @include media('>319px','<769px') {
                            justify-content: flex-start;
                            flex-wrap: wrap;
                          }
                        }
                        &:nth-child(4) {
                          @include media('>319px','<769px') {
                            justify-content: flex-start;
                          }
                        }
                      }
                    }
                  }
                }
                &:last-child {
                  font-weight: 900;
                  flex: 0 1 44.5%;
                }
              }
              &--box {
                height: 70px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #595f68;
                font-weight: 400;
                &:nth-child(2) {
                  @include media('>319px','<769px') {
                    height: 130px;
                  }
                }
                &:not(:last-child) {
                  border-bottom: 1px solid #f3f3f3;
                }
              }
            }
          }
        }
      }
    }
  }
}