.paytables-explained {
  padding-top: 60px;
  &--image {
    margin-bottom: 30px;
  }
  &__differ {
    background: #f3f3f3;
    margin: 0 -20px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__differ-container {
    margin-bottom: 35px;
    &--items {
      background: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media('>319px','<769px') {
        flex-direction: column;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      img {
        margin-right: 40px;
        @include media('>319px','<769px') {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .center {
        &__bottom {
          &--line {
            &:after {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
.video-poker-container {
  .paytables-explained {
    @include media('>319px','<769px') {
      padding-top: 60px;
    }
    &__differ-container {
      &--items {
        @include media('>319px','<769px') {
          width: 220px !important;
          height: 435px;
          padding: 10px;
          margin-right: 15px;
        }
      }
    }
  }
}