.paytables-explained {
  padding-top: 60px;
  &--image {
    margin-bottom: 30px;
  }
  &__differ {
    background: #f3f3f3;
    margin: 0 -20px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__differ-container {
    margin-bottom: 35px;
    &--items {
      background: #fff;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media('>319px','<769px') {
        flex-direction: column;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      img {
        margin-right: 40px;
        @include media('>319px','<769px') {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .center {
        &__bottom {
          &--line {
            &:after {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
.video-poker-container {
  .paytables-explained {
    @include media('>319px','<769px') {
      padding-top: 60px;
    }
    &__differ-container {
      &--items {
        @include media('>319px','<769px') {
          width: 220px !important;
          height: 435px;
          padding: 10px;
          margin-right: 15px;
        }
      }
    }
  }
}

// Baccarat page

.baccarat__guide-container  {
  .paytables-explained {
    background: #fff;
    padding-bottom: 60px;
    .table-container-item-prev {
      left: calc(50% - 63px);
    }
    .table-container {
      height: auto;
      &__col-left {
        width: calc(100% / 3);
        font-weight: 900;
        @include media('>319px','<769px') {
          width: 25%;
        }
      }
      &__col-right-wrap {
        width: calc((100% / 3) * 2);
        @include media('>319px','<769px') {
          width: 75%;
        }
        .col-item {
          width: calc(100% / 2);
          background: #fff;
        }
      }
    }
  }
  .player-cards-table {
    padding: 20px;
    border: 1px solid #eef2f3;
    text-align: center;
    margin-bottom: 20px;
    .table-container-item-prev {
      left: calc(50% + 4px);
    }
    .table-container {
      height: auto;
      @include media('>319px','<769px') {
        margin: 0 -20px 20px -20px;
        width: auto;
      }
      &__col-left {
        width: calc(100% / 4);
        font-weight: 900;
        @include media('>319px','<769px') {
          width: 50%;
        }
      }
      &__col-right-wrap {
        width: calc((100% / 4) * 3);
        @include media('>319px','<769px') {
          width: 50%;
        }
        .col-item {
          width: calc(100% / 3);
          background: #fff;
        }
      }
    }
    .download-pdf {
      max-width: 323px;
      margin: 0 auto;
    }
  }
  .player-cards-table-tabs-area {
    .player-cards-table-tabs {
      display: flex;
      height: 80px;
      list-style: none;
      padding: 0;
      margin: 0;
      align-items: flex-end;
      @include media('>319px','<769px') {
        flex-direction: column;
        height: auto;
      }
      li {
        width: 50%;
        text-align: center;
        transition: all.3s ease;
        background: #f3f3f3;
        color: #595f68;
        font-weight: 900;
        text-transform: uppercase;
        padding: 13px 20px;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        height: 50px;
        @include media('>319px','<769px') {
          width: 100%;
          height: 80px;
          color: #0076b2;
        }
        &.active {
          background: #fff;
          height: 80px;
          line-height: 80px;
          border-color: #eef2f3;
          @include media('>319px','<769px') {
            line-height: inherit;
            height: 80px;
            color: initial;
          }
        }
      }
    }
    .player-cards-table-tabs__container {
      padding: 20px;
      border-left: 1px solid #eef2f3;
      border-right: 1px solid #eef2f3;
      border-bottom: 1px solid #eef2f3;
      margin-bottom: 40px;
      @include media('>319px','<769px') {
        padding: 0;
      }
      .table-container-item-prev {
        @include media('>319px','<769px') {
          left: calc(50% - 65px);
        }
      }
      .table-container {
        .table-container {
          &__col-left {
            @include media('>319px','<769px') {
              width: 25%;
            }
          }
          &__col-right-wrap {
            @include media('>319px','<769px') {
              width: 75%;
            }
          }
        }
      }
      &--item {
        height: 0;
        overflow: hidden;
        &.active {
          height: auto;
        }
      }
    }
    .table-container {
      height: auto;
      &__col-left {
        width: calc(100% / 11);
        font-weight: 900;
        @include media('>319px','<769px') {
          width: 50%;
        }
        .row {
          &:nth-child(2n+3) {
            background: #eeeeee;
          }
          &:nth-child(2n+2) {
            background: #f3f3f3;
          }
        }
      }
      &__col-right-wrap {
        width: calc((100% / 11) * 10);
        @include media('>319px','<769px') {
          width: 50%;
        }
        .col-item {
          width: calc(100% / 10);
          background: #fff;
          .row {
            &:nth-child(2n+2) {
              background: #f3f3f3;
            }
            &:nth-child(2n+3) {
              background: #fff;
            }
          }
        }
      }
    }
    .download-pdf {
      max-width: 323px;
      margin: 0 auto;
    }
  }
}