.real-money-table {
  .top-slots {
    &__container {
      height: 91px;
      @include media('>319px','<769px') {
        height: auto;
        border: 2px solid transparent;
      }
    }
    &__filter-overlay {
      &--item {
        &:nth-child(2),
        &:nth-child(4) {
          flex: 0 0 150px;
          @include media('>319px','<769px') {
            flex: 0 0 auto;
          }
        }
      }
    }
    &__container-overlay {
      &--item {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          flex: 0 0 150px;
          @include media('>319px','<769px') {
            flex: 0 0 auto;
          }
        }
        &:nth-child(4) {
          flex: 0 0 215px;
          margin-right: 0;
          @include media('>319px','<769px') {
            flex: 0 0 auto;
          }
        }
      }
    }
  }
}