.random-number {
  background: #222533;
  color: #b8cde1;
  padding: 60px 20px;
  @include media('>319px','<768px') {
    padding: 60px 20px;
  }
  margin-bottom: 60px;
  .title-h2,
  .title-h3 {
    color: #fff;
  }
  .what__video-poker {
    color: #595f68;
    position: relative;
    &:after {
      content: "?";
      font-size: 200px;
      line-height: 200px;
      font-weight: 900;
      position: absolute;
      right: 20px;
      top: -10px;
      color: #f3f3f3;
      z-index: 0;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }
  }
}

.step__work {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  @include media('>319px','<769px') {
   flex-direction: column;
  }
  &--item {
    width: 345px;
    height: 200px;
    background: #222533;
    position: relative;
    @include media('>319px','<769px') {
      width: 100%;
    }
    &:nth-child(1) {
      border-left: 2px solid #373a46;
      overflow: hidden;
      padding: 20px 25px 20px 20px;
      @include media('>319px','<769px') {
        margin-bottom: 20px;
        border-left: 0;
        border-top: 2px solid #373a46;
      }
      &:after,
      &:before {
        left: -13px;
        @include media('>319px','<769px') {
          left: 0;
          bottom: 20px;
          transform: skew(0deg, 12deg);
          border-right: 0;
        }
        @include media('>319px','<769px', 'landscape') {
          bottom: 26px;
        }
      }
      &:after {
        @include media('>319px','<769px') {
          left: auto;
          right: 1px;
          top: -20px;
          transform: skew(0deg, -12deg);
          border-bottom: 2px solid #373a46;
          border-top: 0;
          border-left: 0;
          border-right: 2px solid #373a46;
        }
        @include media('>319px','<769px', 'landscape') {
          top: -26px;
        }
      }
    }
    &:nth-child(2) {
      padding: 20px 25px 20px 30px;
      @include media('>319px','<769px') {
        margin-bottom: -20px;
      }
      &:after,
      &:before {
        left: 0;
        @include media('>319px','<769px') {
          left: 0;
          bottom: 20px;
          transform: skew(0deg, 12deg);
          border-right: 0;
          border-top: 2px solid #373a46;
        }
      }
      &:after {
        @include media('>319px','<769px') {
          left: auto;
          right: 1px;
          top: -20px;
          transform: skew(0deg, -12deg);
          border-bottom: 2px solid #373a46;
          border-top: 2px solid #373a46;
          border-left: 0;
          border-right: 2px solid #373a46;
        }
      }
    }
    &:nth-child(3) {
      border-right: 2px solid #373a46;
      overflow: hidden;
      padding: 20px 25px 20px 40px;
      @include media('>319px','<769px') {
        border-right: 0;
        border-bottom: 2px solid #373a46;
        padding: 53px 25px 20px 40px;
        &:after,
        &:before {
          left: auto;
        }
      }
      &:after,
      &:before {
        left: 13px;
        @include media('>319px','<769px') {
          left: 0;
          bottom: -22px;
          transform: skew(0deg, 12deg);
          border-right: 0;
          border-top: 2px solid #373a46;
        }
      }
      &:after {
        @include media('>319px','<769px') {
          left: auto;
          right: 1px;
          top: 22px;
          transform: skew(0deg, -12deg);
          border-bottom: 2px solid #373a46;
          border-top: 2px solid #373a46;
          border-left: 0;
          border-right: 2px solid #373a46;
        }
      }
    }
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
      width: 100%;
      background: #222533;
      transform: skew(13deg, 0deg);
      border-top: 2px solid #373a46;
      border-left: 2px solid #373a46;
      border-right: 2px solid #373a46;
      border-bottom: 0;
      z-index: 9;
      @include media('>319px','<769px') {
        height: 100%;
        width: 50%;
        transform: skew(0deg, 0deg);
      }
    }
    &:before {
      bottom: 1px;
      top: auto;
      transform: skew(-13deg, 0deg);
      border-bottom: 2px solid #373a46;
      border-top: 0;
      @include media('>319px','<769px') {
        transform: skew(0deg, 0deg);
        right: 0;
      }
    }
  }
  &--img {
    margin-right: 20px;
    @include media('>319px','<769px') {
      position: absolute;
      margin-right: 0;
    }
  }
  &--content {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    .title-h4 {
      margin-bottom: 20px;
      text-align: left;
      color: #fff;
      @include media('>319px','<=768px') {
        padding-left: 85px;
        margin-bottom: 25px;
      }
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0 0;
        }
      }
    }
  }
}

//

.blackjack-varients {
  background: #fff;
  color: #595f68;
  margin-bottom: 0;
  padding-bottom: 0;
  @include media('>319px','<=768px') {
    padding: 40px 20px;
  }
  .title-h2 {
    color: #222533;
  }
  .recomendation {
    &__area {
      &--item {
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        .global__item-style {
          &--title {
            @include media('>319px','<768px') {
              padding: 0;
            }
          }
        }
      }
    }
  }
}