.slots-cheats {
  background: #222533;
  color: #b8cde1;
  margin-bottom: 60px;
  padding: 60px 20px;
  @include media('>319px','<768px') {
    padding: 30px 20px 30px 20px;
    margin-bottom: 30px;
  }
  .title-h2,
  .title-h3 {
    color: #fff;
  }
  &--text {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 0 0 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media('>319px','<768px') {
      order: 2;
      padding: 0;
      flex: 0 0 100%;
    }
    @include media('>=768px', '<=1024px') {
      flex: 0 0 58%;
    }
    .center__bottom {
      &--line {
        &::after {
          margin: 20px 0 0;
        }
      }
    }
  }
  &--avatar {
    flex: 1 1 auto;
    margin-left: 40px;
    @include media('>319px','<768px') {
      order: 1;
      margin-left: 0;
      width: 65px;
      height: 65px;
      position: absolute;
      overflow: hidden;
    }
  }
  .cheats__list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .cheats__list--item {
    background: #fff;
    color: #595f68;
    border: 2px solid #eef2f3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .global__list {
    &--item {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
  .global__item-style {
    &--title {
      @include media('>=768px', '<=1024px') {
       padding: 0;
      }
    }
  }
}

// new
.blackjack-cheats {
  background: #fff;
  color: #595f68;
  margin-bottom: 0;
  padding-bottom: 0;
  .title-h2,
  .title-h3 {
    color: #212433;
    margin-bottom: 20px;
  }
  .cheats__list {
    &--item {
      border-width: 1px;
      @include media('>319px','<769px') {
        flex-wrap: wrap;
      }
    }
  }
  .slots-cheats {
    &--text {
      flex: 0 1 66%;
      @include media('>319px','<769px') {
        flex: 0 0 100%;
        order: 1;
      }
    }
    &--avatar {
      flex: 0 1 302px;
      @include media('>319px','<769px') {
        position: initial;
        width: auto;
        height: auto;
        order: 2;
        margin: 20px auto 0 auto;
      }
    }
  }
  .card-values__container {
    &--title {
      text-align: center;
      font-size: 18px;
    }
  }
  .shoult-bover {
    padding: 40px 20px 0 20px;
    border-left: 1px solid #eef2f3;
    border-right: 1px solid #eef2f3;
    border-bottom: 1px solid #eef2f3;
    &__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
      &--items {
        flex: 0 0 32%;
        background: #f3f3f3;
        padding: 40px 20px 0 20px;
        @include media('>319px','<769px') {
          flex: 0 0 100%;
          padding: 20px 20px 0 20px;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        .global__item-style {
          &--title {
            text-transform: capitalize;
            font-size: 18px;
            @include media('>319px','<769px') {
              padding: 0;
            }
          }
        }
      }
  }
  }
}