.top__section {
  background: url("../images/how_to_play_bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 35px;
  margin-bottom: 60px;
  @include media('>319px','<768px') {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  &--info {
    font-size: 18px;
    color: #b8cde1;
    margin-bottom: 30px;
  }
  &--text-area {
    text-align: left;
    @include media('>319px','<769px') {
      margin-top: 150px;
    }
  }
}