.video-poker {
  background: #f3f3f3;
  padding: 60px 20px 0 20px;
  margin-bottom: 60px;
  @include media('>319px','<768px') {
    margin-bottom: 30px;
    padding: 30px 20px 0 20px;
  }
}

.what__video-poker {
  &:after {
    content: "?";
    font-size: 200px;
    line-height: 200px;
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: -10px;
    color: #f3f3f3;
    z-index: 0;
    @include media('>319px','<768px') {
      top: auto;
      bottom: 0;
    }
  }
  background: #fff;
  border: 1px solid #eef2f3;
  padding: 40px;
  margin-bottom: 40px;
  position: relative;
  .title-h4 {
    text-align: left;
  }
  p {
    position: relative;
    z-index: 1;
  }
  .center__bottom {
    &--line {
      &:after {
        content: "";
        background: #0076b2;
        height: 2px;
        width: 60px;
        display: block;
        margin: 20px 0 0;
      }
    }
  }
}

.slots-play__similar {
  margin-top: 40px;
  &--area {
    background: url('../images/similar_bg.jpg') no-repeat center center;
    margin: 0 -20px 0 -20px;
    padding: 20px;
    background-size: cover;
  }
  &--item {
    background: #fff;
    max-width: 490px;
    padding: 20px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .img-area {
      margin-right: 20px;
      width: 66px;
      flex: 0 0 auto;
      text-align: center;
      @include media('>319px','<768px') {
        position: inherit;
      }
    }
  }
}

.slots-play__recomendation {
  .recomendation__area {
    &--item {
      flex: 0 0 49%;
      display: flex;
      flex-direction: column;
      @include media('>319px','<768px') {
        flex: 0 0 100%;
      }
    }
    &--title {
      font-size: 24px;
      font-weight: 900;
      color: #222533;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &--text {
      min-height: 200px;
      @include media('>=768px','<=1024px') {
        min-height: 220px
      }
    }
    &--game {
      @include media('>319px','<768px') {
        margin: 0 -20px;
      }
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0 0;
        }
      }
    }
    .global__item-style {
      &--title {
        @include media('>319px','<768px') {
          padding: 0;
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

// new

.history-blackjack {
  background: #fff;
  margin-bottom: 40px;
  &__timeline {
    position: relative;
    border: 1px solid #ecf0f1;
    padding: 20px 20px 20px 60px;
    margin-bottom: 40px;
    @include media('>319px','<768px') {
      border: none;
      padding: 20px 0 20px 30px;
      margin-bottom: 10px;
    }
    &--item {
      position: relative;
      border: 1px solid #ecf0f1;
      padding-left: 35px;
      padding-right: 35px;
      @include media('>319px','<768px') {
        padding-left: 20px;
        padding-right: 25px;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: #f3f3f3;
        top: 20px;
        left: -20px;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% + 19px);
        top: 24px;
        left: -26px;
        background: #f3f3f3;
        z-index: 0;
        @include media('>319px', '<768px') {
          left: -25px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &:last-child {
        &:before {
          content: none;
        }
      }
    }
    .timeline-year-area {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @include media('>319px','<768px') {
        cursor: pointer;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: #0076b2;
        top: 15px;
        left: -65px;
        z-index: 1;
        @include media('>319px','<768px') {
          left: -50px;
        }
      }
      .fas {
        display: none;
        @include media('>319px','<769px') {
          display: block;
        }
      }
    }
    .timeline-year {
      font-weight: 900;
      background: #0076b2;
      color: #fff;
      letter-spacing: 1px;
      padding: 13px 20px;
      display: inline-block;
      top: 0;
    }
    .timeline-content {
      @include media('>319px','<769px') {
        display: none;
      }
    }
    .timeline-content-active {
      display: flex;
    }
  }
}

// video poker style
.video-poker-container {
  .video-poker-strategy {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #212433;
    color: #b8cde1;
    .title-h2,
    .title-h3 {
      color: #fff;
    }
    .strategy-charts {
      &__area {
        background: #fff;
        padding: 20px;
        color: #595f68;
        display: flex;
        align-items: center;
        @include media('>319px','<769px') {
          flex-wrap: wrap;
          justify-content: center;
        }
        img {
          margin-right: 40px;
          @include media('>319px','<769px') {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        .play-game {
          max-width: 323px;
          text-transform: capitalize;
        }
        .center {
          &__bottom {
            &--line {
              &:after {
                margin: 20px 0;
              }
            }
          }
        }
      }
    }
    .strategy-cards {
      padding: 20px;
      border: 2px solid #373a46;
      margin-bottom: 40px;
      .center {
        &__bottom {
          &--line {
            &:after {
              margin: 20px 0;
            }
          }
        }
      }
      .global {
        &__item-style {
          &--title {
            color: #fff;
          }
        }
      }
    }
    .video-poker-tips {
      &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        &--items {
          flex: 0 0 32%;
          background: #fff;
          display: flex;
          flex-direction: column;
          padding: 20px;
          color: #595f68;
          @include media('>319px','<769px') {
            flex: 0 0 240px;
            width: 240px !important;
            margin-right: 15px;
            padding: 10px;
            height: 530px;
          }
          img {
            margin-bottom: 30px;
            height: 193px;
          }
          .center {
            &__bottom {
              &--line {
                &:after {
                  margin: 20px 0;
                }
              }
            }
          }
          &-text {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
