.video-poker {
  background: #f3f3f3;
  padding: 60px 20px 0 20px;
  margin-bottom: 60px;
}

.what__video-poker {
  background: #fff;
  border: 1px solid #eef2f3;
  padding: 40px;
  margin-bottom: 40px;
  .title-h4 {
    text-align: left;
  }
  .center__bottom {
    &--line {
      &:after {
        content: "";
        background: #0076b2;
        height: 2px;
        width: 60px;
        display: block;
        margin: 20px 0 0;
      }
    }
  }
}

.slots-play__similar {
  margin-top: 40px;
  &--area {
    background: url('../images/similar_bg.jpg') no-repeat center center;
    margin: 0 -20px 0 -20px;
    padding: 20px;
    background-size: cover;
  }
  &--item {
    background: #fff;
    max-width: 490px;
    padding: 20px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .img-area {
      margin-right: 20px;
      width: 66px;
      flex: 0 0 auto;
      text-align: center;
      @include media('>320px','<768px') {
        // margin: 0 -20px;
        position: inherit;
      }
    }
  }
}

.slots-play__recomendation {
  .recomendation__area {
    &--item {
      flex: 0 0 49%;
      display: flex;
      flex-direction: column;
      @include media('>320px','<768px') {
        flex: 0 0 100%;
      }
    }
    &--title {
      font-size: 24px;
      font-weight: 900;
      color: #222533;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &--text {
      min-height: 200px;
      @include media('>=768px','<=1024px') {
        min-height: 220px
      }
    }
    &--game {
      @include media('>320px','<768px') {
        margin: 0 -20px;
      }
    }
    .center__bottom {
      &--line {
        &:after {
          margin: 20px 0 0;
        }
      }
    }
    .global__item-style {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
